@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: ;
  src: url(/build/assets/fonts/);
}




h2 , h1 , p {
  font-family: ;
}
 


/* @keyframes dotMove {
  0% {
    top: 10%;
  }
  50% {
    top: 90%;
  }
  100% {
    top: 10%;
  }
}

.animate-dotMove {
  animation: dotMove 2.5s ease-in-out infinite;
} */

