@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: ;
  src: url(/build/assets/fonts/);
}




h2 , h1 , p {
  font-family: ;
}
 


@layer utilities {
  @keyframes dotFloat {
    0%, 100% {
      transform: translate(-50%, -5px); /* thoda neeche (start near line) */
    }
    50% {
      transform: translate(-50%, -55px); /* upar move kare */
    }
  }

  .animate-dotFloat {
    animation: dotFloat 2.6s ease-in-out infinite;
  }
}

#footerBar > div:not(:last-child),
#footerBar > a:not(:last-child) {
  border-right: 1px solid #FFFFFF; /* line ka color */
  padding-right: 20px; /* thoda spacing right side me */
   /* thoda gap line ke baad */
}
